* {
  text-decoration: none;
  color: inherit;
  /* margin: 0;
    padding: 0; */
}

img {
  display: block;
}

ul,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto-Bold.ttf);
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Raleway;
  src: url(../../fonts/Raleway-VariableFont_wght.ttf);
  font-style: normal;
  font-weight: 700;
}

body {
  color: #212121;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.centred {
  text-align: center;
}

.current-page {
  position: relative;
}

@media screen and (min-width: 767px) {
  .current-page {
    color: #2196f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}

.section-title {
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  font-weight: 700;
  padding-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.section-title::first-letter {
  text-transform: capitalize;
}

.contacts {
  font-style: normal;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.header-contacts {
  color: #757575;
}

@media screen and (max-width: 767px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
}

@media screen and (max-width: 767px) {
  .header-contacts {
    margin-bottom: 64px;
  }
  .header-contacts li {
    font-weight: 500px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .header-contacts li:nth-child(2) {
    margin-bottom: 32px;
    font-size: 34px;
    color: #2196f3;
  }
  .header-contacts li:nth-child(1) {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts li:nth-child(1) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts-item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .header-container {
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 0;
  }
}

.nav-links {
  display: block;
}

@media screen and (max-width: 767px) {
  .nav-item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .nav-item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-list {
  text-transform: capitalize;
}

@media screen and (max-width: 767px) {
  .nav-list {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
  }
}

.nav-list a:hover,
.nav-list a:focus,
.header-contacts a:hover,
.header-contacts a:focus {
  color: #2196f3;
  fill: #2196f3;
}

.nav-list a,
.header-contacts a {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.local-line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .local-line {
    display: none;
  }
}

.header-contacts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-header {
  border: 1px solid #ececec;
}

.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.hidden-nav {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .hidden-nav {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 48px 40px;
    z-index: 2;
  }
}

@media screen and (min-width: 768px) {
  .hidden-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .hidden-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow-y: scroll;
    height: 100%;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #ffffff;
  border: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:focus svg, .menu-button:hover svg {
  fill: #2196f3;
}

.menu-button svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 3;
}

.nav-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-weight: 500;
}

.nav-socials li {
  position: relative;
  color: #2196f3;
}

.nav-socials li:not(:last-child) {
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .nav-socials {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-contacts svg {
    display: none;
  }
}

.soc-line {
  position: absolute;
  right: -10px;
}

@media screen and (min-width: 768px) {
  .hidden-nav.is-hidden {
    opacity: 1;
    pointer-events: visible;
  }
}

.logo-first-part,
.logo-second-part,
.logo-footer-second-part {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.03em;
}

.logo-footer-second-part {
  color: #ffffff;
}

.logo-first-part {
  color: #2196f3;
}

footer .logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.buttons button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  display: block;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .buttons button {
    margin-bottom: 15px;
  }
}

.buttons button:hover, .buttons button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons li:not(:last-child) {
  margin-right: 8px;
}

.buttons button::first-letter {
  text-transform: capitalize;
}

.portfolio-main {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .portfolio-main {
    padding: 94px 0;
  }
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .cards li:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cards li:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .cards li:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .cards li:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.cards li {
  border: 1px solid #eeeeee;
  max-width: 370px;
}

@media screen and (max-width: 767px) {
  .cards li {
    margin-left: auto;
    margin-right: auto;
  }
}

.cards a {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards a:hover, .cards a:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards p {
  font-size: 16px;
  color: #757575;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.cards h2 {
  margin-bottom: 4px;
}

.cards-text {
  padding: 20px 24px;
}

.cards-img-text {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards a:hover .cards-img-text,
.cards a:focus .cards-img-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cards-img {
  position: relative;
  overflow: hidden;
}

.cards img {
  width: 100%;
}

footer {
  padding: 60px 0;
  text-align: center;
  background-color: #2f303a;
}

.footer-first-block li:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (min-width: 1200px) {
  .footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .footer-first-block {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-first-block {
    margin-right: 70px;
  }
}

@media screen and (max-width: 767px) {
  .footer-second-block {
    margin-bottom: 60px;
  }
}

.footer-second-block p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.address-place {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
  }
}

.subscribe-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding: 15px 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .subscribe-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-input {
    margin-right: 12px;
    width: 358px;
  }
}

.subscribe-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscribe-title {
    text-align: left;
  }
}

.subscribe-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 700;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

.subscribe-button::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/icon-send.svg);
}

@media screen and (min-width: 768px) {
  .footer-tablet-container {
    padding: 0 50px;
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer-tablet-container {
    margin-bottom: 0;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team {
  padding: 60px 0;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

.team h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .team-list > li:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list > li:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list > li {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .team-list > li {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list > li {
    width: calc((100% - 30px)/2);
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list > li {
    width: 270px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list > li:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list > li:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

.team-text {
  padding: 30px 32px;
  background-color: #ffffff;
}

.team-text p {
  margin-bottom: 16px;
}

.team h3 {
  margin-bottom: 10px;
}

.team-links,
.footer-team-links {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
}

.team-links svg,
.footer-team-links svg {
  width: 20px;
  height: 20px;
}

.team-links li,
.footer-team-links li {
  width: 44px;
  height: 44px;
}

.team-links a,
.footer-team-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-links li:not(:last-child),
.footer-team-links li:not(:last-child) {
  margin-right: 10px;
}

.team-links a:hover,
.team-links a:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.footer-team-links a {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.team-list img {
  width: 100%;
}
/*# sourceMappingURL=portfolio.css.map */